#tswcsstabs ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
	display: inline ;
}
#tswcsstabs ul li {
	margin: 0 ;
	padding: 0 ;
	display: inline ;
	text-align: center ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcsstabs li a {
	color: #fff ;
	background-color: #0c0 ;
	border: 1px outset #008f00 ;
	padding: 8px ;
	text-decoration: none ;
	display: inline ;
}
#tswcsstabs li a:hover {
	color: #000 ;
	background-color: #bfffbf ;
}